<h1 align="center">Admin-login</h1>
<div style="float: left; padding-left: 100px;">
    <img src="../../assets/admin.webp" alt="" width="700px">

</div>
<div style="float: left ;padding-left: 30px; padding-top: 200PX;">
<form action="">
    <label for="">UserName:</label>
    <input type="text" placeholder="Username"  size="30"><br><br>
    <label for=""> Password: &nbsp;</label>
    <input type="password" placeholder="password"  size="30" ><br><br>
    <button type="submit">submit</button>
</form>
</div>
