<h1 align="center">Mentor-login</h1>
<div style="float: left ; padding-left: 150px;">
    <img src="../assets/mntor.jpg" alt="" width="600px">

</div>
<div style="float: left ; padding-top: 150px; padding-left: 50px;">
<form action="">
    <label for="">UserName:</label>
    <input type="text" placeholder="Username" size="30"><br><Br>
    <label for="">Password: &nbsp;</label>
    <input type="password" placeholder="password" size="30"><br><br>
    <button type="submit">submit</button>
</form>
</div>

