<div style="height: 1000px; background-color: rgb(172, 172, 211);" >
<h1 align="center" style="padding-top:50px ;">BAABTRA</h1>
<div style="float: left ; padding-left: 100px;">
    <img src="../../assets/mntor.jpg" alt="" width="700px">
</div>
  <div  style="padding-top: 10px ; float: left; padding-left: 100px;">
    <a [routerLink]="'admin-login'">Admin Login</a>
    <img src="../../assets/admin.png" alt="" width="100px">
    <br><br><br>
    <a [routerLink]="'mentor-login'">Mentor Login</a>
    <img src="../../assets/admin.png" alt="" width="100px">
    <br><br><br>
    <!-- <a [routerLink]="'student-login'">Student Login</a>
    <img src="../../assets/admin.png" alt="" width="100px">
  </div> -->
</div>

