<div style="width: 200px; padding-top: 30px; background-color: rgb(74, 74, 145); height: 1000px;">
<ul type="none">
    <li> <img src="../../../assets/hom.png" alt="" width="20px">Dashboard</li><br>
    <li> <img src="../../../assets/hom.png" alt="" width="20px">Mycourses</li><br>
    <li> <img src="../../../assets/hom.png" alt="" width="20px">Exams</li><br>
    <li> <img src="../../../assets/hom.png" alt="" width="20px">Live classroom</li><br>
    <li> <img src="../../../assets/hom.png" alt="" width="20px">Score Board</li><br>
    <li> <img src="../../../assets/hom.png" alt="" width="20px">Games</li><br>
</ul>
</div>
